[submodule "Third-repo"]
	path = Third-repo
	url = https://github.com/SashankLis/Third-repo.git
[submodule "Second-Repo"]
	path = Second-Repo
	url = https://github.com/SashankLis/Second-Repo.git
[submodule "First-repo"]
	path = First-repo
	url = https://github.com/SashankLis/First-repo.git
